/* You can add global styles to this file, and also import other style files */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

body {
    background-image: url('assets/img/background/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;

  .content {
    border: 5px solid #0000ff;
    border-radius: 10px;
  }
}